In [3]:
import pandas as pd 
import numpy as np

In [4]:
url_emicron= 'https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/refs/heads/main/Datos/EMICRON/emicron_identificacion.csv'
import pandas as pd 
df_emicron = pd.read_csv(url_emicron, encoding= 'latin-1', sep=',', low_memory=False)
df_emicron. head()

,DIRECTORIO,SECUENCIA_P,SECUENCIA_ENCUESTA,COD_DEPTO,AREA,CLASE_TE,P35,P241,MES_REF,P3031,P3032_1,P3032_2,P3032_3,P3033,P3034,P3035,P3000,GRUPOS4,GRUPOS12,F_EXP
0,7627444,1,1,44,NaN,2,2,33,ENERO,2,NaN,NaN,NaN,2,240,2,2,2,3,60.050515
1,7627446,1,1,44,NaN,2,1,31,ENERO,2,NaN,NaN,NaN,2,166,2,2,1,1,86.341075
2,7627449,1,1,68,NaN,1,2,42,ENERO,2,NaN,NaN,NaN,2,60,2,2,3,5,139.884518
3,7627453,1,2,68,NaN,1,2,41,ENERO,2,NaN,NaN,NaN,2,60,2,2,4,7,168.635440
4,7627456,1,3,68,NaN,1,1,18,ENERO,2,NaN,NaN,NaN,2,9,2,2,4,6,64.659273

In [5]:
df_emicron.columns

Index(['DIRECTORIO', 'SECUENCIA_P', 'SECUENCIA_ENCUESTA', 'COD_DEPTO', 'AREA',
       'CLASE_TE', 'P35', 'P241', 'MES_REF', 'P3031', 'P3032_1', 'P3032_2',
       'P3032_3', 'P3033', 'P3034', 'P3035', 'P3000', 'GRUPOS4', 'GRUPOS12',
       'F_EXP'],
      dtype='object')

In [6]:
#microempresas que hay en colombia 
total = df_emicron["F_EXP"].sum()
print("Micronegocios en todo colombia:", int(total))

Micronegocios en todo colombia: 5297251

In [9]:
micronegocioF = df_emicron[(df_emicron["COD_DEPTO"] == 63) & (df_emicron["P35"] == 1) & (df_emicron["P241"].between(18, 30))]
totalquindiohombres_1830 = micronegocioF["F_EXP"].sum()
print(f"Micronegocios en Quindío con propietarios hombres de 18 a 30 años:", int(totalquindiohombres_1830))

Micronegocios en Quindío con propietarios hombres de 18 a 30 años: 1929

In [ ]:
#RESPUESTA DE LA 1: hay 1929 microempresas en el quindio que son de propietarios hombres entre los 18 y 30 años

In [11]:
micronegocio_manu_FR = df_emicron[(df_emicron["COD_DEPTO"] == 66) & (df_emicron["P35"] == 2) & (df_emicron["P241"].between(20, 30)) & (df_emicron['GRUPOS4'] == 2)]
total_microMFR = micronegocio_manu_FR["F_EXP"].sum()
print(f"Microempresas de la industria manufacturera en Risaralda que son de mujeres entre los 20 y 30:", int(total_microMFR))

Microempresas de la industria manufacturera en Risaralda que son de mujeres entre los 20 y 30: 471

In [12]:
#RESPUESTA DE LA 2: hay 471 microempresas manufactureros en el departamento de risaralda, en el cual sus propietarias sin entre los 20 y 30 años.

In [13]:
#PEREIRA
micronegocio_com_FP40 = df_emicron[(df_emicron["AREA"] == 66) & (df_emicron["P35"] == 2) & (df_emicron["P241"] > 40) & (df_emicron['GRUPOS4'] == 3)]
total_microCOFP40 = micronegocio_com_FP40['F_EXP'].sum()
print(f'Los microempresas de Pereira con las caracteristicas son:', int(total_microCOFP40))
#ARMENIA
micronegocio_com_FA40 = df_emicron[(df_emicron["AREA"] == 63) & (df_emicron["P35"] == 2) & (df_emicron["P241"] > 40) & (df_emicron['GRUPOS4'] == 3)]
total_microCOFA40 = micronegocio_com_FA40['F_EXP'].sum()
print(f'Los microempresas de Armenia con las caracteristicas son:', int(total_microCOFA40))
#MANIZALES
micronegocio_com_FM40 = df_emicron[(df_emicron["AREA"] == 17) & (df_emicron["P35"] == 2) & (df_emicron["P241"] > 40) & (df_emicron['GRUPOS4'] == 3)]
total_microCOFM40 = micronegocio_com_FM40['F_EXP'].sum()
print(f'Los microempresas de Manizales con las caracteristicas son:', int(total_microCOFM40))
print()
print(f'La ciudad capital del eje cafetero que tiene mas microempresas en el comercio con dueñas mayores a 40 años es PEREIRA')

Los microempresas de Pereira con las caracteristicas son: 3827
Los microempresas de Armenia con las caracteristicas son: 2557
Los microempresas de Manizales con las caracteristicas son: 2636

La ciudad capital del eje cafetero que tiene mas microempresas en el comercio con dueñas mayores a 40 años es PEREIRA

In [14]:
#RESPUESTA DE LA 3: entre las ciudades de armenia, manizales y pereira, pereira es la ciudad con mas  microempresas del sector comercio cuyas propietarias son mujeres mayores de 40 años

In [15]:
micronegocioNN = df_emicron[(df_emicron["AREA"] == 63) & (df_emicron["P35"] == 1) & (df_emicron["P3035"] == 2)]
total_microNN = micronegocioNN['F_EXP'].sum()
print(f'En la ciudad de Armenia hay un total de', int(total_microNN), f'microempresas de propietarios hombres que no tiene nombre comercial')

En la ciudad de Armenia hay un total de 11603 microempresas de propietarios hombres que no tiene nombre comercial

In [16]:
#RESPUESTA DE LA 4: en la ciudad de armenia hay 11603 empresas cuyo propietarios son hombres y no tiene nombre comercial